<footer><a class="footer__link footer__link__sub"
        href="https://www.of.moncompteformation.gouv.fr/espace-prive/sl7pdfHTTP/CGU.pdf" target="_blank">Conditions
        Générales d'Utilisation</a>
    <!---->
    <!---->
    <!---->
    <!----><a class="footer__link footer__link__sub"
        href="https://www.of.moncompteformation.gouv.fr/espace-prive/sl7pdfHTTP/rgpd.pdf" target="_blank">Protection des
        données personnelles</a>
    <!---->
    <!---->
    <!---->
    <!----><a class="footer__link footer__link__sub"
        href="https://www.of.moncompteformation.gouv.fr/espace-prive/sl7pdfHTTP/accessibilite.pdf"
        target="_blank">Accessibilité conformité RGAA</a>
    <!---->
    <!---->
    <!---->
    <!----><a class="footer__link footer__link__sub"
        href="https://www.of.moncompteformation.gouv.fr/espace-prive/sl7pdfHTTP/mentions_legales.pdf"
        target="_blank">Mentions légales</a>
    <!---->
    <!---->
    <!---->
    <!---->
    <!----><span> 1.05.3 </span></footer>