<div class="prefooter">
        <figure class="prefooter__element"><img
                src="assets/Ministere_Travail_Logo.c3203ba0f38b79c04cea206ae27bdb09.jpg"
                alt="Logo Ministere du travail" class="prefooter__img prefooter__img--ministere">
            <nav class="footer__links"><a target="_blank" class="footer__link"
                    href="https://www.travail-emploi.gouv.fr">travail-emploi.gouv.fr</a><a
                    target="_blank" class="footer__link"
                    href="https://www.legifrance.gouv.fr">legifrance.gouv.fr</a><a target="_blank"
                    class="footer__link" href="https://www.service.public.fr">service.public.fr</a><a
                    target="_blank" class="footer__link"
                    href="https://www.gouvernement.fr">gouvernement.fr</a><a target="_blank"
                    class="footer__link" href="https://www.france.fr">france.fr</a>
                <!---->
            </nav>
        </figure>
        <div class="prefooter__element prefooter__element--middle column--6">
            <p class="text-align--justify">Mon compte formation est un service mandaté par le Ministère
                du Travail. La Caisse des Dépôts gère le site du compte formation : conception,
                animation, maintenance, traitements informatiques et assistance technique.</p>
        </div>
        <figure class="prefooter__element prefooter__element--cdc"><img
                src="assets/Endossement_CDC.a05a31d7a59bdfe3deeab1a3f2961f2b.png"
                alt="Logo Caisse des Dépôts et Consignations"
                class="prefooter__img prefooter__img--cdc"></figure>
    </div>
