.signature{
    font-family: Poppins;
    font-size: 1.752vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b4b;
}